body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('IMG/fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(8px);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent background for cyberpunk effect */
}

header {
    margin-top: 5%;
}

header h1 {
    font-size: 3rem;
    margin: 0;
    color: #ff1dff;
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff; /* Neon glow effect */
}