.track-options {
    display: flex;
    gap: 20px;
}

.track {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.track img {
    max-width: 250px;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 250px;
    object-fit: cover;
}

.track :hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px rgba(0, 255, 255, 2));
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 20px #00ffff, 0 0 40px #00ffff, 0 0 60px #00ffff; /* Brighter neon glow on hover */
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 20px #00ffff, 0 0 40px #00ffff, 0 0 60px #00ffff; /* Brighter neon glow on hover */
}

footer {
    margin-bottom: 30px;
}

footer .btn {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ff00ff; /* Neon magenta text */
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff; /* Neon glow effect */
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff; /* Neon glow effect */
}
