:root{
    
    --principal: rgb(0, 116, 31); 
    --secundario:rgb(92, 196, 114); 
    --terciario: rgb(157, 245, 159);
    --blanco: rgb(255, 255, 255);
    --fondo:rgb(255, 255, 255);
    --letrauno:rgb(207, 207, 207);
    --letrados:rgb(179, 179, 179);
    --sombra:rgba(132, 189, 255, 0.1);
    --sombra2:rgba(50, 72, 97, 0.568);

}

body, html {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    width: 100%;
    height: 100%;
    background-color: var(--fondo);
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}

header {
    background-color: var(--principal);
    color: var(--letrauno);
    padding: 0px 15px 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    justify-self: center;
    height: 50px;
    border-radius: 15px;
}

nav button {
    background: #6b7f3a;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#formregcontainer{
    background-color: var(--terciario);
}
.registro-container {
    background: var(--secundario);
    padding: 20px;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
}


input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: inherit;
}


.genero {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#botonesContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-self: center;
    justify-self: center;
}
.botones
{
    border-radius: 10px;
    border: none;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 30px;
    font-size: 15px;
    font-family: inherit;
    box-shadow: 0 5px 10px 3px var(--sombra2);
    cursor: pointer;
    background-color: var(--blanco);
}

a{
    text-decoration: none;
    color: inherit;
}

#btnregistrarse{
    grid-column: 2/3;
}

#btncancelar{
    grid-column: 3/4;
}

h2{
    margin: 0px;
    padding: 0px;
}